@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444;
  background-color: #fff;
}

.page-header {
  /*родитель*/
  color: #000;
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  background-color: #FFE17F;
  width: 1160px;
  height: 300px;
  margin-top: 40px;
  margin-right: 140px;
  margin-left: 140px;
  margin-bottom: 410px;
}

.search-button {
  font-size: 16px;
  line-height: 20px;
}

.button {
  color: #000;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation-list {
  list-style-type: none;
}

.navigation-link {
  font-family: "Rubik", sans-serif;
  color: inherit;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
  width: 1160px;
  justify-content: space-between;
  align-items: center;
}

.main-navigation-list {
  list-style-type: none;
}


.main-navigation-link {
  font-family: "Raleway", sans-serif;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.main-navigation-link-list {
  list-style-type: none;
}


.transform-none {
  font-family: "Rubik", sans-serif;
  color: inherit;
  text-decoration: none;
  text-transform: none;
}

.slider-description {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}

.slider-list {
  color: #000;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  list-style-type: none;
}

.slider-title {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.slider-item-title {
  color: #444;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.slider-pagination {
  list-style-type: none;
}

.slider-table {
  color: #444;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
}

.slider-characteristics {
  color: #000;
  font-size: 36px;
  font-weight: bold;

}

.slider-options {
  font-size: 16px;
  font-weight: normal;
}

.product {
  /*родитель*/
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
}

.product-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.product-link {
  color: #000;
  text-decoration: none;
}

.product-card-link {
  text-decoration: none;
}

.advantages {
  /*родитель*/
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.advantages-title {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: 50px;
}

.advantages-description {
  color: #444;
}

.advantages-tabs {
  list-style-type: none;
}

.advantages-list {
  display: flex;
  width: 1160px;
  align-items: center;
  gap: 116px;
  list-style-type: none;
}

.delivery {
  /*родитель*/
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  background: #F0F0F0;
  display: flex;
  width: 1160px;
  align-items: center;
}

.delivery-link {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  align-content: center;
}

.about {
  /*родитель*/
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.title-level-two {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px
}

.about-description {
  color: #444;
}

.about-list {
  color: #FFC700;
}

.about-link {
  color: #000;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  text-decoration: none;
}

.contacts {
  /*родитель*/
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.contacts h3 {
  color: #444;
  font-size: 24px;
  font-weight: 700;
}

.subscribe-description {
  color: #444;
  background: #F0F0F0;
  width: 1440px;
  height: 421px;
  flex-shrink: 0;
}

/* Каталог*/
.main-inner {
  /*родитель*/
  font-family: "Rubik", sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 20px;
}

.catalog-breadcrumb-link {
  color: inherit;
  text-decoration: none;
  text-transform: none;
}

.main-inner h2 {
  color: #000;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.main-inner h3 {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.36px;
}

.catalog-filter-title {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.36px;
}

.product-card-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  text-decoration: none;
}

.pagination-link {
  color: #444;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-next {
  color: #000;
}

.index-columns {
  display: flex;
  width: 1160px;
  height: 545px;
  justify-content: center;
  align-items: flex-start;
  gap: 108px;
}

.page-footer-container {
  display: flex;
  width: 1440px;
  height: 321px;
  flex-shrink: 0;
  margin: 0 auto;
}

.footer-page {
  /*родитель*/
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background: #444;
}

.contact-address-text {
  line-height: 20px;
  font-style: normal;
  width: 239px;
  height: 40px;
  color:#FFF;
}

.footer-navigation-list {
  list-style-type: none;
}

.footer-navigation-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  color: #FFFFFF;
  background-color: #444444;
  text-decoration: none;
  text-transform: uppercase;
}

.footer-social-list {
  list-style-type: none;
}

.footer-social-item a {
  background-color: #444444;
  text-decoration: none;
}

.footer-contacts-phone {
  color: #FFFFFF;
  background-color: #444444;
  text-decoration-line: underline;
}

.htmlacademy-link {
  color: #FFC700;
}
